<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%=jsh.Config.app_name%> - <%= title %></title>
<link href='https://fonts.googleapis.com/css?family=Droid+Sans|Material+Icons|PT+Sans' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="<%-req.baseurl%>application.css" />
<script type="text/javascript" src="/js/jsHarmony.js"></script>
<script type="text/javascript">var <%-req.jshsite.instance%> = new jsHarmony(<%-req.getJSClientParams()%>);</script>
<script type="text/javascript" src="/js/site.js"></script>
<script type="text/javascript" src="<%-req.baseurl%>application.js"></script>
</head>

<body>
<div class="xmain">

<div class="xhead">
  <% if(req.isAuthenticated){ %>
    <div class="xtoplinks"><img src="/images/toplinks_corner.png" class="xtoplinks_corner" alt="" title="" />
      <b>Client Portal:</b>&nbsp; <%=(req.jshsite.globalparams.company_name(req)+' - '+req.user_name)%> &nbsp;|&nbsp; 
      <a class="toplink_help" class="static" href="<%-req.baseurl%>HSHOWL/" onclick="<%=req.jshsite.instance%>.XExt.popupForm('HSHOWL'); return false;">Help</a> &nbsp;|&nbsp; 
      <a href="/client/logout">Logout</a>
    </div>
  <% } %>
  <a class="xbrand_link" href="<%-ejsext.iif(req.isAuthenticated,'',req.jshsite.home_url)%>/">&nbsp;</a>
  <div class="xlogo">
    <a class="xlogoimg" href="<%-ejsext.iif(req.isAuthenticated,'/client',req.jshsite.home_url)%>/"><img src="/images/logo.png" alt="<%=jsh.Config.app_name%>" title="<%=jsh.Config.app_name%>" /></a>
    <a class="xsublogo" href="<%-ejsext.iif(req.isAuthenticated,'/client',req.jshsite.home_url)%>/"><img src="/images/portal_client.png" /></a>
  </div>
  
  <%
  var xmenu_headings = {};
  if('MainMenu' in XMenu){
    %><div class="xmenu"><%
    	for(var i=0;i<XMenu.MainMenu.length;i++){ menu = XMenu.MainMenu[i];
    	  xmenu_headings[menu.ID] = menu.Title;
    	  %><a href="<%-menu.Link%>" onclick="<%-ejsext.escapeHTML(menu.OnClick)%>" data-id="<%=menu.ID%>" class="menu_<%=menu.ID%> <%-ejsext.iif(menu.Selected,'selected')%>"><%=menu.Title%><div class="bottom"></div></a><%
      }
    	%><a class="xmenu_more" href="#"><div class="xmenu_more_bg">Menu <img src="/images/arrow_right_white.png" /><div class="bottom"></div></div></a><%
    %></div><%
    %><div class="xmenuside"></div><%
  }
  if('SubMenus' in XMenu){
    for(var parentid in XMenu.SubMenus){ var submenu = XMenu.SubMenus[parentid];
      var parentname = '';
      if(parentid in xmenu_headings) parentname = xmenu_headings[parentid];
      %><div style="display:none;" class="xsubmenu xsubmenu_<%=parentid%>"><div class="head"><%=parentname%>:</div><%
      for(var i=0;i<submenu.length;i++){ menu = submenu[i];
        %><a href="<%-menu.Link%>" onclick="<%-ejsext.escapeHTML(menu.OnClick)%>"><%=menu.Title%></a><%-ejsext.iif(i<submenu.length-1,'<div>&nbsp;|&nbsp;</div>')%><%
      }
      %><a class="xsubmenu_more" href="#">Menu &nbsp;&#9656;</a><%
      %></div><%
      %><div class="xsubmenuside"></div><%
    }
  }
  %>
</div>

<div class="xbody"><%-ejsext.BreadCrumbs(req, jsh, modelid)%><% if(title){ %>
<h1 style="display:inline-block;" class="xform_title"><%= title %></h1>
<% } %><%- body %>
</div><!-- xbody -->

<div class="clear"></div>
</div><!--xmain-->
</body>
</html>