<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><%=jsh.Config.app_name%> - <%= title %></title>
<link href='<%-req.jshsite.publicurl%>fonts/jsHarmonyFonts.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="<%-req.baseurl%>application.css" />
<script type="text/javascript" src="<%-req.jshsite.publicurl%>js/jsHarmony.js"></script>
<script type="text/javascript">var <%-req.jshsite.instance%> = new jsHarmony(<%-req.getJSClientParams()%>);</script>
<script type="text/javascript" src="<%-req.jshsite.publicurl%>js/site.js"></script>
<script type="text/javascript" src="<%-req.baseurl%>application.js"></script>
</head>

<body>
<div class="xmain">

<div class="xhead">
  <% if(req.isAuthenticated){ %>
    <div class="xtoplinks"><img src="<%-req.jshsite.publicurl%>images/toplinks_corner.png" class="xtoplinks_corner" alt="" title="" />
      <div class="xtoplinks_body">
        <b><%=jsh.Config.app_name%>:</b>&nbsp; <%=req.user_name%> &nbsp;|&nbsp; 
        <a class="toplink_help static" href="<%-req.baseurl%><%=req.jshsite.globalparams.help_view(req)%>/" onclick="<%=req.jshsite.instance%>.XExt.popupForm('<%=req.jshsite.globalparams.help_view(req)%>'); return false;">Help</a> &nbsp;|&nbsp; 
        <%_ if (jsh.Config.modules.jsHarmonyFactory.feedback.enabled){ %>
          <a class="toplink_feedback static" onclick="<%=req.jshsite.instance%>.System.suggestFeature('<%=jsh.Config.app_name%>'); return false;">Suggest a Feature</a> &nbsp;|&nbsp;
        <%_ } %>
        <a href="/logout">Logout</a>
      </div>
    </div>
  <% } %>
  <a class="xbrand_link" href="<%-ejsext.iif(req.isAuthenticated,'',req.jshsite.home_url)%>/">&nbsp;</a>
  <div class="xlogo">
    <a class="xlogoimg" href="<%-ejsext.iif(req.isAuthenticated,'',req.jshsite.home_url)%>/"><img src="<%-req.jshsite.publicurl%>images/logo.png" alt="<%=jsh.Config.app_name%>" title="<%=jsh.Config.app_name%>" /></a>
    <a class="xsublogo" href="<%-ejsext.iif(req.isAuthenticated,'',req.jshsite.home_url)%>/"><%=req.jshsite.title%></a>
  </div>

  <%-jsh.RenderView('jsh_menu_horizontal',locals)%>
</div>

<div class="xbody with_xhead"><%-ejsext.BreadCrumbs(req, jsh, modelid)%><% if(title){ %>
<h1 style="display:inline-block;" class="xform_title"><%= title %></h1>
<% } %><%- body %>
</div><!-- xbody -->

<div class="clear"></div>
</div><!--xmain-->
</body>
</html>