<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=jsh.Config.app_name%> - <%= title %></title>
<link rel="stylesheet" type="text/css" href="/application.css" />
<link href='/fonts/jsHarmonyFonts.css' rel='stylesheet' type='text/css' />
<script type="text/javascript" src="/js/jsHarmony.js"></script>
<script type="text/javascript">var <%-req.jshsite.instance%> = new jsHarmony(<%-req.getJSClientParams()%>);</script>
<style type="text/css">
.xmenu a{
  padding-right:24px;
  padding-left:24px;
}
.xmenu a.xmenu_more{ 
  padding-right:0; 
  padding-left:2px; 
}
body, p, ol, ul, td, .xbody {
  font-size:15px;
}
.xbody {
  /*min-width:1024px;*/
  /*width:100%;*/
  min-height:573px;
}
body {

}
</style>
</head>

<body class="xpublic">
<div class="xmain">

<div class="xhead">
  <div class="xtoplinks"><img src="/images/toplinks_corner.png" class="xtoplinks_corner" alt="" title="" />
    <div class="xtoplinks_body">
      <a href="<%-req.jshsite.home_url%>/">Home</a> &nbsp;|&nbsp; 
      <a href="<%-req.baseurl%>">Login</a>
    </div>
  </div>
  <a class="xbrand_link" href="<%-req.jshsite.home_url%>/">&nbsp;</a>
  <div class="xlogo">
    <a class="xlogoimg" href="<%-req.jshsite.home_url%>/"><img src="/images/logo.png" alt="<%=jsh.Config.app_name%>" title="<%=jsh.Config.app_name%>" /></a>
  </div>
  
  <div class="xmenu">
  </div>
  <div class="xmenuside"></div>

</div>

<div class="xbody">
<%-ejsext.BreadCrumbs(req, jsh, modelid)%><% if(title){ %>
<h1 style="display:inline-block;" class="xform_title"><%= title %></h1>
<% } %><%- body %>
</div><!-- xbody -->

<div class="clear"></div>
</div><!--xmain-->
</body>
</html>