<style type="text/css">
.xformcontainer.xelem<%=model.class%> .listing {
  border:1px solid #000;
  float:left;
  padding:10px 15px;
  margin:0 10px 10px 0;
  width:500px;
  height:500px;
  overflow:scroll;
}
.xformcontainer.xelem<%=model.class%> .listing li {
  padding-top:4px;
}
.xformcontainer.xelem<%=model.class%> .rslt {
  border:1px solid #000;
  float:left;
  padding:10px 15px;
  margin:0;
  width:500px;
  height:500px;
  overflow:scroll;
}
.xformcontainer.xelem<%=model.class%> .runas {
  clear:both;
  padding-top:10px;
}
.xformcontainer.xelem<%=model.class%> .runas label {
  display:inline-block;
  width:70px;
}
</style>
<div class="dbselect">
  Database:
  <select class="db"></select>
</div>
<div class="run" style="display:none;">
  <div style="padding-bottom:8px;">Please click on a script below to run the database operation:</div>
  <div class="listing"></div>
  <pre class="rslt"></pre>
  <div class="runas">
    <b>Run as:</b><br/>
    <label>User:</label><input type="text" class="user" /><br/>
    <label>Password:</label><input type="password" class="password" />
  </div>
</div>