<style type="text/css">
.xformcontainer.xelem<%=model.class%> .xtabbody { min-width:1080px; }
.xformcontainer.xelem<%=model.class%> .listing {
  border:1px solid #000;
  float:left;
  padding:10px 15px;
  margin:0 10px 10px 0;
  width:500px;
  height:500px;
  overflow:scroll;
}
.xformcontainer.xelem<%=model.class%> .listing ul {
  padding-left:18px;
}
.xformcontainer.xelem<%=model.class%> .listing li {
  padding-top:4px;
}
.xformcontainer.xelem<%=model.class%> .listing .dbmenu {
  display:none;
  padding-bottom:10px;
}
.xformcontainer.xelem<%=model.class%> .listing .dbmenu a {
  display:inline-block;
  margin-right:6px;
  margin-top:6px;
  border:1px solid #ddd;
  background-color:#f2f2f2;
  padding:2px 8px;
}
.xformcontainer.xelem<%=model.class%> .rslt_container {
  border:1px solid #000;
  float:left;
  width:532px;
  height:520px;
  display:flex;
  flex-direction:column;
  background-color:#f2f2f2;
}
.xformcontainer.xelem<%=model.class%> .rslt_actions {
  border-bottom:1px solid #000;
}
.xformcontainer.xelem<%=model.class%> .rslt_actions input {
  margin-left: 3px;
  background-color: #33e033;
  border: 1px solid #333;
}
.xformcontainer.xelem<%=model.class%> .rslt {
  flex-grow: 1;
  overflow:scroll;
  padding:10px 15px;
  margin:0;
  background-color:#f2f2f2;
}
.xformcontainer.xelem<%=model.class%> .runas {
  clear:both;
  padding-top:10px;
}
.xformcontainer.xelem<%=model.class%> .runas label {
  display:inline-block;
  width:70px;
}
.xformcontainer.xelem<%=model.class%> .restart_link {
  display:block;
  float:right;
}
</style>
<div class="xtabcontrol">
  <a href="<%=jsh._BASEURL%><%=model.module_namespace%>Dev/DBScripts" class="xtab">DB Scripts</a>
  <a href="#" class="xtab selected">DB Objects</a>
  <a href="<%=jsh._BASEURL%><%=model.module_namespace%>Dev/DBUpgrade" class="xtab">Upgrade</a>
  <a href="<%=jsh._BASEURL%><%=model.module_namespace%>Dev/DBDiff" class="xtab">Diff</a>
  <div class="xpanel">
    <div class="xtabbody selected">
      <div class="dbselect">
        Database:
        <select autocomplete="off" class="db"></select>
        <a href="<%=jsh._BASEURL%><%=model.module_namespace%>Admin/Restart" target="_blank" class="restart_link" style="display:none;">Restart</a>
      </div>
      <div class="run" style="display:none;">
        <div style="padding:4px 0 8px 0;">Please click on an object below for operations.  Click on an operation to preview the script, and then press "Run" to execute.</div>
        <div class="listing"></div>
        <div class="rslt_container">
          <div class="rslt_actions">
            <input type="button" value="Run &#x25B6;" class="rslt_run" />
          </div>
          <pre class="rslt"></pre>
        </div>
        <div class="runas">
          <b>Run as database user:</b><br/>
          <div class="admin_container"><label>Admin:</label><input type="checkbox" class="admin" /></div>
          <label>User:</label><input autocomplete="off" type="text" class="user" /><br/>
          <label>Password:</label><input autocomplete="new-password" type="password" class="password" />
        </div>
      </div>
    </div>
  </div>
</div>