<style type="text/css">
.xformcontainer.xelem<%=model.class%> .xtabbody { min-width:1080px; }
.xformcontainer.xelem<%=model.class%> .listing {
  border:1px solid #000;
  float:left;
  padding:10px 15px;
  margin:0 10px 10px 0;
  width:500px;
  height:500px;
  overflow:scroll;
}
.xformcontainer.xelem<%=model.class%> .listing li {
  padding-top:4px;
}
.xformcontainer.xelem<%=model.class%> .rslt {
  border:1px solid #000;
  float:left;
  padding:10px 15px;
  margin:0;
  width:500px;
  height:500px;
  overflow:scroll;
}
.xformcontainer.xelem<%=model.class%> .runas {
  clear:both;
  padding-top:10px;
}
.xformcontainer.xelem<%=model.class%> .runas label {
  display:inline-block;
  width:70px;
}
</style>
<div class="xtabcontrol">
  <a href="<%=jsh._BASEURL%><%=model.module_namespace%>Dev/DBScripts" class="xtab">DB Scripts</a>
  <a href="<%=jsh._BASEURL%><%=model.module_namespace%>Dev/DBObjects" class="xtab">DB Objects</a>
  <a href="<%=jsh._BASEURL%><%=model.module_namespace%>Dev/DBUpgrade" class="xtab">Upgrade</a>
  <a href="#" class="xtab selected">Diff</a>
  <div class="xpanel">
    <div class="xtabbody selected">
      <div class="dbselect">
        Database:
        <select autocomplete="off" class="db"></select>
      </div>
      <div class="run" style="display:none;">
        <div style="padding:4px 0 8px 0;">Please click on a module below to genereate a diff between the current database and the sql object definition:</div>
        <div class="listing"></div>
        <pre class="rslt"></pre>
        <div class="runas">
          <b>Run as database user:</b><br/>
          <label>User:</label><input autocomplete="off" type="text" class="user" /><br/>
          <label>Password:</label><input autocomplete="new-password" type="password" class="password" />
        </div>
      </div>
    </div>
  </div>
</div>