<style type="text/css">
.xformcontainer.xelem<%=model.class%> .rslt table { border-collapse: collapse; }
.xformcontainer.xelem<%=model.class%> .rslt table td,
.xformcontainer.xelem<%=model.class%> .rslt table th { padding:3px 10px; border:1px solid black; }
.xformcontainer.xelem<%=model.class%> .rslt table th { background-color:#f6f6f6; }
.xformcontainer.xelem<%=model.class%> .rslt h2 { margin-top:20px; }
.xformcontainer.xelem<%=model.class%> .rslt .table_name,
.xformcontainer.xelem<%=model.class%> .rslt .func_name { font-weight:bold; display:inline-block;margin-top:3px; }
</style>
<div class="dbselect">
  Database:
  <select class="db"></select>
</div>
<div class="rslt">
</div>