<style type="text/css">
.xformcontainer.xelem<%=model.class%> .rslt .schema_container td { padding-right: 20px; }
.xformcontainer.xelem<%=model.class%> .rslt .schema_container td.table_name,
.xformcontainer.xelem<%=model.class%> .rslt .schema_container td.func_name { padding-right:30px; white-space:nowrap; }
.xformcontainer.xelem<%=model.class%> .rslt .schema_table { border-collapse: collapse; margin: 5px 0 5px 10px; }
.xformcontainer.xelem<%=model.class%> .rslt .schema_table td,
.xformcontainer.xelem<%=model.class%> .rslt .schema_table th { padding:3px 10px; border:1px solid black; }
.xformcontainer.xelem<%=model.class%> .rslt .schema_table th { background-color:#f6f6f6; }
.xformcontainer.xelem<%=model.class%> .rslt h2 { margin-top:20px; }
</style>
<div class="dbselect">
  Database:
  <select autocomplete="off" class="db"></select>
</div>
<div class="rslt">
</div>